
.stundetNav{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 2px 7px #DCDCDC;

    img{
        display: inline;
        margin-left: 80px; 
        height: 100px;
        width: 100px;
        cursor: pointer;
       transition: transform 0.2s ease;
        &:hover {
    transform: translateY(-2px);
    
  }
        
    }

    button{
        margin-top: 40px;
        margin-left: auto;
        margin-right: 80px;
        height: max-content;
    }

     h4{
        position: relative;
        left: 700px;
        margin-left: 20px;
        margin-top: 50px;
        transition: transform 0.5s ease;
       cursor: pointer;
  
  &:hover{
    transform: translateY(-4px);
    
    color: #484848;
    }
        
    }
    
}