
.logIn{
    display: flex;
    justify-self: center;
    
    margin-top: 100px;
    flex-direction: column;
    width: max-content;
    h1{
        font-weight: bold;
    }
    label{
        display: block;
        color: #484848;
        margin-bottom: 15px;
    }

    p{
        color: red;
        width: auto;
        display: inline;
        font-size: 15px;
        position: relative;
        top: 2px;
        margin-left: auto;
        margin-right: auto;
    }

    label{
     cursor: pointer;
    }

    input{
        margin-top: 2px;
        display: block;
        
        width: 100%;
        border-radius: 6px;
        height: 35px;
        outline: none;
        font-size: 16px;
        border: solid 1px #484848;
    }

    button{
        background-color: black;
        color: white;
        border: none;
        border-radius: 6px;
        width: 100%;
        font-size: 16px;
        height: 38px;
        cursor: pointer;
        font-weight: bold;

        box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  }
    }

   
}