
.editableQuestionsContainer{
    
    display: flex;
    gap: 25px;
    
    flex-direction: column;
    button{
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 40px;
        font-size: 18px;
    }
}

.editableQuestions{
    box-shadow: 0px 0px 10px #DCDCDC;
    border-radius: 6px;
    width: 600px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    input{
        border-radius: 6px;
        outline: none;
        padding: 5px;
        border: solid 1px darkgray;
        width: 550px;
        height: 20px;
        margin-bottom: 9px;
    }
    
}